<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
      <title>Fill in the boxes below for Dwight Library book recomendations!</title>
  </head>
  <body>
    <h1>Dwight Library Book Recommendors</h1>
    <form method="Post" action = "/results">
      <p>Juvenile Fiction</p>
      <input type="radio" name="genre" value="juvenile fiction">
      <p>Comic Books</p>
      <input type="radio" name="genre" value="comic books">
      <p>Love Stories</p>
      <input type="radio" name="genre" value="love stories">
      <br>
      <p>Prejudice</p>
      <input type="radio" name="genre" value="prejudice">
      <br>
      <p>Domestic Fiction</p>
      <input type="radio" name="genre" value="domestic fiction">
      <br>
      <p>Mystery</p>
      <input type="radio" name="genre" value="mystery">
      <br>
      <p>Magic</p>
      <input type="radio" name="genre" value="magic">
      <br>
      <p>Detective</p>
      <input type="radio" name="genre" value="detective">
      <br>
      <p>Horror</p>
      <input type="radio" name="genre" value="horror">
      <br>
      <p>Survival</p>
      <input type="radio" name="genre" value="survival">
      <br>
      <p>Medicine</p>
      <input type="radio" name="genre" value="medicine">
      <br>
      <p>Religion</p>
      <input type="radio" name="genre" value="religion">
      <br>

        <input type = "submit">
    </form>
  </body>
</html>
